* { padding: 0; margin: 0; box-sizing: border-box; }
@keyframes fade {
  0% { font-size: 320px; opacity: 1; }
  100% { font-size: 0px; opacity: :0.3; }
}
@-webkit-keyframes fade {
  0% { font-size: 320px; opacity: 1; }
  100% { font-size: 0px; opacity: :0.3;}
}
.phone-case { position: relative; margin: 5px auto; width: 365px; height: 792px; background: transparent url(../images/phone-case.png) 0 0 no-repeat; background-size: cover; }
.simular { width: 320px; height: 568px; background-color: #fff; position: absolute; top: 108px; left: 22px; }
.font { position: absolute; width: 100%; top: 0; left: 0; bottom: 0; line-height: 568px; text-align: center; display: block; font-size: 320px; font-weight: bold; animation: fade 1.5s; animation-fill-mode: forwards; -webkit-animation: fade 1s; -webkit-animation-fill-mode: forwards; }