* { padding: 0; margin: 0; box-sizing: border-box; }
@-webkit-keyframes fade {
  0% { top: 0; opacity: 1; }
  100% { top: 568px; opacity: :0.3; }
}
@-webkit-keyframes rotate {
  0% { transform: rotate(0deg); transform-origin:50% 50%;}
  100% { transform: rotate(360deg); }
}
.phone-case { position: relative; margin: 5px auto; width: 365px; height: 792px; background: transparent url(../images/phone-case.png) 0 0 no-repeat; background-size: cover; }
.simular { width: 320px; height: 568px; overflow: hidden; background-color: #fff; position: absolute; top: 108px; left: 22px; }
.font { font-size: 24px; position: absolute; top: 0; left: 0; text-align: center;  font-weight: bold;-webkit-animation: fade 2.5s linear infinite, rotate 3s linear infinite; }