* { padding: 0; margin: 0; list-style: none; color: #333; font-weight: normal; text-decoration: none; box-sizing: border-box; -webkit-font-smoothing: antialiased }
body { background: #f5f5f5  url(../images/design.png) center -128px no-repeat; overflow-x: hidden; }
::-webkit-scrollbar { width: 3px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px #fff; }
::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.4); }
.clearfix:before, .clearfix:after { content: '\0020'; display: block; height: 0; overflow: hidden; visibility: hidden; width: 0; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
#main { width: 640px; margin: 0 auto; border-top: 5px solid #fc5255; position: relative; box-shadow: 0 0 1px #ddd; }
.profile { padding: 20px 40px 25px; border-bottom: 1px solid #e4e4e4; }
.profile h1 { font-size: 30px; margin: 27px 0 35px; }
.profile .info { color: #999999; font-size: 24px; margin-bottom: 17px; }
.profile img { width: 174px; height: 174px; border-radius: 50%; border: 2px solid #fff; position: absolute; top: 24px; right: 39px; }
.album { border-bottom: 1px solid #e4e4e4; background-color: #fff; }
.album .list { padding: 10px; }
.album .list .item { position: relative; width: 300px; height: 300px; margin: 5px; overflow: hidden; float: left; }
.album .list .item img { width: 100%; height: 300px; }
.album .list .item.multiple img { float: left; width: 145px; height: 145px; }
.album .list .item.multiple img:nth-child(1) { margin-right: 10px; margin-bottom: 10px; }
.album .list .item.multiple img:nth-child(2) { margin-bottom: 10px; }
.album .list .item.multiple img:nth-child(3) { margin-right: 10px; }
.album .list .item.multiple .more { position: absolute; width: 145px; height: 145px; bottom: 0; right: 0; text-align: center; font-size: 24px; color: #fff; padding-top: 48px; font-weight: bold; }
.application { position: relative; margin-top: 25px; height: 145px; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; padding: 23px 16px 23px 132px; background: #fff; }
.application img { position: absolute; top: 23px; left: 16px; }
.application h3 { font-size: 24px; margin-bottom: 16px; margin-top: 20px; }
.application .desc { color: #999999; font-size: 24px; }
.application .download { position: absolute; right: 18px; top: 45px; font-size: 26px; border: 2px solid #fc5255; color: #fc5255; padding: 10px 16px; border-radius: 5px; }
.spotlight { margin-top: 25px; background: #fff; border-top: 1px solid #e4e4e4; }
.spotlight h3 { padding: 26px; color: #999999; font-size: 24px; border-bottom: 1px solid #e4e4e4; }
.spotlight .list li { height: 168px; padding: 16px 20px 16px 180px; position: relative; border-bottom: 1px solid #e4e4e4; }
.spotlight .list li img { position: absolute; left: 20px; top: 17px; border-radius: 50%; border: 2px solid #fff; width: 130px; height: 130px; }
.spotlight .list li h4 { font-size: 24px; font-weight: bold; margin-top: 18px; margin-bottom: 20px; }
.spotlight .list li > span { display: block; font-size: 24px; color: #999999; margin-bottom: 10px; }
footer { padding: 30px; }
footer .install { background-color: #fc5255; color: #fff; text-decoration: none; display: block; text-align: center; height: 90px; line-height: 90px; border-radius: 5px; font-size: 24px; font-weight: bold; }