@charset "UTF-8";
#content { padding-top: 25px; }
.deploy .list { padding: 0 55px; }
.deploy .list .item { border-bottom: 1px solid #ddd; padding-bottom: 48px; font-size: 16px; }
/*.deploy .list .item.last { border-bottom: none; }*/
.deploy .list .item h3 { font-weight: 900; font-size: 28px; margin: 40px 0; }
.deploy dl dt, dl dd { line-height: 28px; }
.deploy dl.first { float: left; width: 440px; }
.deploy dl.second { margin-left: 440px; }
.deploy .struts { margin: 50px 0 0 0; }
.application .list { padding: 0 55px; }
.application .list  h3 { font-weight: 900; font-size: 28px; margin: 40px 0 20px; }
.application .list  h3.first {margin-bottom: 40px; }
.application .list .item { font-size: 16px; margin-bottom: 30px; }
.application .list .item h4 { font-weight: 600; font-size: 18px; margin-bottom: 10px; }
.application .list .item img { display: block; width: 100%; margin: 30px auto 0; }
.application .list .item .desc { line-height: 28px; }
.application .list .banner { height: 200px; margin-bottom: 30px; }
.application .list .banner .wrap { height: 140px; padding-top: 60px; background-color: #349fd7; position: absolute; left: 0; right: 0; }
.application .list .banner .wrap img { display: block; margin: 0 auto; margin-top: 10px; }